



body {
  font-family: Arial;
  background-color: yellowgreen;
  margin: 0;
  padding: 20px;
}

:root{
  --color-background: pink;
  --color-font: purple;
}

.title,
.decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-font);
  border-radius: 30px;
  
}
main {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

